
section{
    height: 500px;
    padding-bottom: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
h1{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-size: 80px;
}
h2{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-size: 48px; 
}
h3{
    font-family: 'Roboto', sans-serif;
    color: #363958;
    font-size: 24px;
}
h4{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-size: 20px; 
}
h5{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-size: 24px; 
}
.orange-heighlight{
    color: #FF8367;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    font-weight: 500;
}
.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient( 60deg, #3D7EAA, #F86961);
    padding: 15px 24px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif ;
    color: white;  
}
.description-text{
    margin-bottom: 10%;
}
.working-project-area{
    background-color: #F8F9FC;
    height: 700px;
}
.working-project-area h2{
    text-align: center;
    padding-top: 10%;
}
.project-group{
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
}

.one-third{
    float: left;
    border-radius: 20px;
    margin: 1%;
    padding: 1%;
    width: 27%;
    height: 50%;
    background-color: white;
    box-shadow: 10px 10px 40px rgb(207, 207, 207);
    
}
.one-third img{
    width: 100%;
}
.inquiry-box h2{
    float: left;
    font-weight: 500;
    color: #fff;
    margin: 8%;
}
.inquiry-box{
    width: 800px;
    height: 300px;
    margin: 100px auto;
    background-image: url("images/bg-workinq.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.chat-button{
    float: right;
    text-decoration: none;
    font-family: 'Roboto', sans-serif ;
    background-image: linear-gradient(75deg,#EB3349,#F45C43);
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 9%;
    
}
.testimonials-area{
    height: 500px;
}
.testimonials-area h2{
    text-align: center;
    margin-top: -15%;
    margin-bottom: 15%;
}
.testimonoal-item{
    float: left;
    width: 30%;
    margin: 5%;
    padding: 5%;
    background-color: #F8F9FC;
    box-shadow: 10px 10px 30px #193549;
}
.testimonoal-item img{
    width: 100%;
    margin-top: -70%;
    border: 7px solid #ED3A48;
    border-radius: 50%;
    
}
.testimonoal-item p{
    font-weight: 600;
}
footer{
    text-align: center;
}
.icons{
    width: 25px;
    height: 25px;
}
#middle-icon{
    margin: 0px 13px;
}

